{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Date</th>
                {% if is_granted ('ROLE_ADMIN') %}
                    <th>Publié</th>
                {% endif %}
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
                <tr>
                    <td><a href="{{ path('app_article_showPublicByUser', {'id': article.user.id}) }}">{{ article.user.firstname }} {{ article.user.lastname }}</a></td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.content|raw }}</td>
                    <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    {% if is_granted ('ROLE_ADMIN') %}
                        <td>{{ article.statut ? 'Publié' : 'Brouillon' }}</td>
                    {% endif %}
                    
                    <td><img src="{{ article.image }}"></td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
                        {% if is_granted ('ROLE_ADMIN') %}
                            <a href="{{ path('app_article_edit', {'id': article.id}) }}">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas d'articles trouvé</td>
                </tr>    
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex flex-column justify-content-center align-items-center">
    <h5 class="text-info">Pagination</h5>
    {{ knp_pagination_render(articles)}}
    </div>

    {# <a href="{{ path('app_article_new') }}">Create new</a> #}
{% endblock %}
